<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CopyBro</title>
    <link rel="stylesheet" href="../css/common.css">
    <!-- <link rel="stylesheet" media="(min-width:1000px)" href="css/style_more.css">
    <link rel="stylesheet" media="(max-width:1000px)" href="css/style_less.css"> -->
</head>
<body>

    <div class="less">
        <div class="header">
            <div class="header_logo">
                <a href="#">
                    <img src="../images/logo/logoless.svg" alt="logo">
                    <img src="../images/logo/CopyBro_less.svg" alt="CopyBro">
                </a>
            </div>
            <div class="header_button">
                <a href="#"><img src="../images/different/googl_less.svg" alt="googl"></a>
                <a href="#"><img src="../images/different/app_less.svg" alt="app"></a>
            </div>
        </div>

        <div class="investEasily">
            <div class="investEasily_rihgt" id="investEasily_rihgt" >
                <img src="../images/different/investEasily_less.png" alt="investEasily_less">
            </div>
            <div class="investEasily_left">
                <div class="investEasily_left_first">
                    <img src="../images/different/texts2.svg" alt="">
                    <!-- <h1>Инвестируйте легко<br><span> и получайте доход</span><br>
                    +51,9% <span>годовых</span></h1>
                    <p>Выбирайте стратегии успешных трейдеров и копируйте сделки в авторежиме. Зарабатывайте легко и с минимальными рисками через мобильное приложение Сopybro.</p> -->
                </div>
                <div class="investEasily_left_second">
                    <div class="store">
                        <a href="#"><img src="../images/different/googl_play_less.svg" alt=""></a>
                        <a href="#"><img src="../images/different/app_store_less.svg" alt=""></a>
                    </div>
                    <a href="#" id="investEasily_left_second_a"><span>Установить приложение</span></a>
                </div>
            </div>

            <!-- <div class="general_indicator">
                <div class="general_indicator_into">
                    Общий показатель по среднегодовой доходности стратегий
                </div>
            </div> -->
        </div>

        <div class="autoFollow">
            <div class="autoFollow_left" id="autoFollow_left"> <img src="../images/different/autoFollow_less.svg" alt=""> </div>
            <div class="autoFollow_right">
                <p>Автоследование: <span>минимальные <br> риски,<br></span> оптимальная доходность</p>
                <p>Мы собрали для вас лучшие торговые стратегии с подтвержденными данными по прошлым сделкам и их доходности. Трейдер ежедневно следит за динамикой рынка, совершая сделки и балансируя риски и доходность стратегии.</p>
            </div>
        </div>
        <br><br><br><br>
        <div class="becomeInvestorEasy">

        </div>
    </div>


    <div class="more">
        <div class="header">
            <div class="header_logo">
                <a href="#">
                    <img src="../images/logo/logo.svg" alt="">
                    <img src="../images/logo/CopyBro.svg" alt="">
                </a>
            </div>
            <div class="header_button">
                <a href="#">Установить</a>
            </div>
        </div>

        <div class="investEasily">
            <div class="investEasily_left">
                <div class="investEasily_left_first">
                    <h1>Инвестируйте легко<br><span> и получайте доход</span></h1>
                    <p id="investEasily_left_first_p">+51,9% <span>годовых</span></p>
                    <p>Выбирайте стратегии успешных трейдеров и копируйте сделки в авторежиме. Зарабатывайте легко и с минимальными рисками через мобильное приложение Сopybro.</p>
                </div>
                <div class="investEasily_left_second">
                    <a href="#"><span>Установить приложение</span></a>
                    <div class="store">
                        <a href="#"><img src="../images/different/googl_play.png" alt=""></a>
                        <a href="#"><img src="../images/different/app_store.png" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="investEasily_rihgt" id="investEasily_rihgt_more"><img src="../images/different/investEasily.png" alt=""></div>

            <div class="general_indicator" id="general_indicator">
                <div class="general_indicator_into">
                    Общий показатель по среднегодовой доходности стратегий
                </div>
            </div>
        </div>

        <div class="autoFollow">
            <div class="autoFollow_left" id="autoFollow_left_more"> <img src="../images/different/autoFollow.png" alt=""> </div>
            <div class="autoFollow_right" id="autoFollow_right">
                <p>Автоследование: <span>минимальные <br> риски,</span> оптимальная доходность</p>
                <p>Мы собрали для вас лучшие торговые стратегии с подтвержденными данными по прошлым сделкам и их доходности. Трейдер ежедневно следит за динамикой рынка, совершая сделки и балансируя риски и доходность стратегии.</p>
            </div>
        </div>
        <br><br><br><br>
        <div class="becomeInvestorEasy">

        </div>
    </div>
<script src="/../js/js.js"></script>
</body>
</html>
